.container {
    width: 85vw;
    height: 64vw;
    position: relative;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box-1 {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(155, 155, 155);
    background: linear-gradient(37deg, rgba(255, 255, 255, 0.25) 50%, rgb(155, 155, 155)50%);
}

.box-2 {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(155, 155, 155);
}

.hand {
    width: 2px;
    height: 180%;
    position: absolute;
    background-color: rgba(116, 116, 116, 0.4);
    animation: countdown 10s step-end infinite;
}

.hand-gradient {
    width: 180%;
    height: 180%;
    position: absolute;
    background: conic-gradient(from -0deg, white, transparent);
    animation: countdown 1s step-end infinite;
}

.circle-small {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    position: absolute;
    border: 0.6vw solid rgba(255, 255, 255, 0.4);
}

.circle-big {
    width: 67.5%;
    height: 90%;
    border-radius: 50%;
    position: absolute;
    border: 0.6vw solid rgba(255, 255, 255, 0.4);
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.scratches-2 {
    opacity: 0;
}

.scratches-3 {
    opacity: 0;
    animation: countdown 0.3s step-end infinite;
}

.frame-roll {
    width: 180%;
    height: 180%;
    position: absolute;
    background: radial-gradient(transparent,
            rgba(132, 94, 61, 0.6));
    opacity: 0;
    animation: countdown 0.0417s step-end infinite;
}

.numbers {
    position: absolute;
    font-size: 20vh;
    color: white;
    text-shadow: 0px 0px 3px rgb(120, 120, 120);
}

.numbers::before {
    content: "";
    animation: countdown 10s step-end infinite;
}

@keyframes countdown {
    0% {
        content: "9";
        transform: rotate(-0deg);
    }

    10% {
        content: "8";
        transform: rotate(36deg);
    }

    20% {
        content: "7";
        transform: rotate(72deg);
    }

    30% {
        content: "6";
        transform: rotate(108deg);
    }

    40% {
        content: "5";
        transform: rotate(144deg);
    }

    50% {
        content: "4";
        transform: rotate(180deg);
        opacity: 1;
    }

    60% {
        content: "3";
        transform: rotate(216deg);
    }

    70% {
        content: "2";
        transform: rotate(252deg);
    }

    80% {
        content: "1";
        transform: rotate(288deg);
    }

    90% {
        content: "Ich liebe CSS !!!";
        transform: rotate(324deg);
    }


    100% {
        transform: rotate(-0deg);
        /* opacity: 1; */
    }
}